<div class="login">
    <div class="container">
        <%= form_for(@user) do |f|%>
        <%= f.text_field :first_name, :placeholder => 'First Name' %>
        <%= f.text_field :last_name, :placeholder => 'Last Name' %>
        <%= f.text_field :email, :placeholder => 'Email' %> 
        <% end %>
        <p class="displayed"><%= link_to "View Recipes", cuisine_url %></p>
    </div>
</div>